@charset "UTF-8";

/*
	E-Log logs Style Sheet
    Author: Forde Nedimović
    Creation Date: 2024/01/22 
    Modified Date: 2024/02/07
*/
button
{
    width: 40%;
    height: 10%;
    border-radius: 10px;
    border: white solid 2px;
    background-color: blue;
    color: white;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}
h1{
    color: blue;
}
button:hover {
    background-color: darkblue;
}
/* ===============================
   Mobile Styles: 0px to 768px 
   ===============================
*/
@media only screen and (max-width: 600px) and (min-width: 0px)
{
    #log
    {
        width: 100%;
        height: 100%;
    }
    .logFlex-container
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    .logText-container
    {
        width: 100%;
        height: 100%;
        background-color: #f5f5f5;
        font-size: 1.75rem;
        text-align: center;
    }
    li
    {
    margin: 1.5% 8.7%;
    }
    button{
        width: 100px;
        height: 50px;
        margin: 20px;
    }
}
/* ===============================
   Tablet Styles: 769px to 1000px 
   ===============================
*/
@media only screen and (max-width: 800px) and (min-width: 600px)
{
    h1
    {
        font-size: larger;
    }
    #log
    {
        width: 100%;
        height: 100%;
    }
    .logFlex-container
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    .logText-container
    {
        width: 100%;
        height: 100%;
        background-color: #f5f5f5;
        font-size: 1.75rem;
        text-align: center;
    }
    li
    {
    margin: 1.5% 10.6%;
    }
    button{
        width: 100px;
        height: 50px;
        margin: 20px;
    }
}
/* =================================================
   Desktop Styles: greater than 1000px
   =================================================
*/
@media only screen and (max-width: 1500px) and (min-width: 800px) 
{
    #log
    {
        width: 100%;
        height: 100%;
    }
    .logFlex-container
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    .logText-container
    {
        width: 100%;
        height: 100%;
        background-color: #f5f5f5;
        font-size: 1.75rem;
        text-align: center;
    }
    button{
        width: 100px;
        height: 50px;
        margin: 20px;
    }
    table {
        border-collapse: collapse;
        width: 50%;
        table-layout: fixed;
        margin-left: 25%;
    }
    table, th, td {
        border: 3px solid;
        font-size: xx-large;
    }
}